@import "../../../styles/mixins";

@mixin sidebar {
  min-width: 24rem;
  height: 100vh;
  background-color: var(--bs-sidebar-dark);
  color: var(--col-sidebar);
  font-size: 1.57rem;
}

.Sidebar {
  @include sidebar();
}

@include medium-screen {
  .Sidebar {
    display: none;

    &Show {
      @include sidebar();
      display: initial;
      position: absolute;
    }
  }
}
