.Sidebar {
  width: 29.05rem;
  height: 100vh;
  background-color: var(--bs-sidebar-dark);
  color: var(--col-sidebar);
  font-size: 1.57rem;

  &Header {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
}
