.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 2rem;
    height: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    background: #525f80;
  }
}
