.Item {
  &Tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--col-sidebar);
    padding: 1.2rem 2rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--col-sidebar);
    }

    > i {
      span {
        margin: 0 1rem 0 1.8375rem;
        font-style: normal;
      }
    }

    &Active {
      @extend .ItemTag;
      background-color: var(--bs-sidebar-item-dark);
    }
  }

  &SubMenu {
    list-style: none;
    padding: 0 2rem;

    li {
      a {
        text-decoration: none;
        padding: 0.4rem 1.5rem 0.4rem 3.3rem;
        color: var(--col-sidebar);
        cursor: pointer;

        &:hover {
          color: var(--col-sidebar-hover);
        }
      }
    }
  }
}
